*{
	margin:0;
	padding:0;
}
body{
background:Lightsteelblue;
background-size:100%;
background-attachment:fixed;
}
a{
	color:black;
	text-decoration:none;
}
a:hover{
	color:white;
	text-decoration:underline;
}
.menu_atas{
	width:100%;
	height:40px;
	background: Midnightblue;
	margin-bottom:15px;
	line-height:40px;
	color: white;
	font-family: Century Gothic;
	font-size:20px;
}
.wrap{
margin:0 auto;
width:1200px;
height:auto;
background:white;
color:black;
box-shadow:0 0 10px 2px;
}
.header{
	margin:0 auto;
	width:1200px;
	height:440px;
	background:url(bran.jpg);
	margin-bottom:10px;
	background-size: 100%;
}
.menu{
	margin:0 auto;
	width:1200px;
	height:40px;
	background:Coral;
	line-height:40px;
	margin-bottom:10px;

}

.menu ul{
	margin:0;
	list-style:none;
	padding:0px;
}
.menu ul li a{

	float:left;
	width:150px;
	text-align:center;
	color:white;
	font-family: Century Gothic;
	text-decoration:none;
	text-transform:uppercase;
	background:Darkred;
	border-right:1px solid bisque;
}
.menu ul li a span.arrow{
	width:0;
	height:0;
	border:8px solid transparent;
	border-top:10px solid white;
	position:absolute;
	margin-left:30px;
	margin-top:15px;
}
.menu ul li a:hover{
	background:Crimson;
	transition:all .5s ease-in-out;

}
.menu ul li:hover ul{
	display:block;
	transition:all .5s;
animation:mantul-vertikal 1s;
}
.menu ul ul{
	display:none;
	list-style:none;
	position:absolute;
	width:190px;
	background:grey;
	margin-left:0px;
	margin-top:40px;

	transition:all .5s;
}
.menu ul li ul li a{
float:none;
display:block;
padding-left:30px;
text-align:left;
width:160px;
transition:all .5s;
}
@keyframes mantul-vertikal{
	0%{

		margin-top:40px;opacity:0;
	}

	100%{
		opacity:1;margin-top:40px;
	}
}
.benteng{

	width:1000px;
	height:auto;
	margin:0 auto;

}
.sidebar{
	width:200px;
	height:auto;
	float:left;
	background:bisque;
	font-family: Century Gothic;
}
.text-sidebar{
width:180px;
height:auto;
}
.sidebar a{
float:left;
padding:10px 10px 10px 10px;
width:100%;
line-height:20px;
background:Darkslateblue;
color:white;
text-decoration:none;
}
.sidebar a:hover{
background:darkred;
height: 420px;
text-decoration:underline;
transition:all .5s;
}
.konten{
	width:800px;
	height:auto;
	float:left;
	background:Peachpuff;
}
.text_konten{
	width:775px;
	padding:10px;
	font-size: 26px;
	text-align:center;
	font-family: Century Gothic;
}
.footer{

	margin:0 auto;
	width:1200px;
	height:50px;

	background:Maroon;
margin-top:20px;
}
.text-footer{
padding:15px 20px 10px 20px;
width:970px;
height:10px;
column-rule:2px solid white;
column-count:3;
	column-width:100px;
	color:white;
	font-size: 15px;
}
.judul_sam{

	font-family: Century Gothic;
	font-size: 26px;
