body{
  background-image: url('image/u.jpg');
  background-position: center;
  background-size: 100%;
}


.menu_atas{
	width:100%;
	height:40px;
	background: black;
	margin-bottom:15px;
	line-height:40px;
	color: white;
	font-family: Century Gothic;
	font-size:20px;
}


.logo{
  width: 255px;
  height: 150px;
  margin-left:  20%;/*mengatur luar*/
  margin-top: -20px;
}

.logoguru{
  width:70px;
  height:70px;
  margin-left: -30%;/*mengatur luar*/
  margin-top: -25px;
}

.header_login{
  width: 400px;
  height: 80px;
  padding: 10px;
  border-bottom: 5px ;
  border-radius: 10px 10px 0 0;
  color: white;
  font-size: 30px;
  margin: auto;
  margin-top: 100px;
  font-family: Century Gothic;

}
.body_login{
  width: 500px;
  padding: 10px;
  color: white;
  margin-left:36%;
  margin-top:5px;
  font-family: Century Gothic;

}


.body{
  width: 500px;
  padding: 10px;
  color: white;
  margin-left:40%;
  margin-top:-30px;
  font-family: Century Gothic;

}

.body_logina{
  width: 500px;
  padding: -25px;
  color: white;
  margin-left:42%;
  margin-top:5px;
  font-family: Century Gothic;
}

.footer_login{
  width: 400px;
  padding: 5px;
  color: white;
  text-align: center;
  margin-left:40%;
  margin-top:-19px;
  border-radius: 0 0 10px 10px;
}

.footer_logina{
  width: 400px;
  padding: 5px;
  color: white;
  text-align: center;
  margin: auto;
  border-radius: 0px 0px 10px 10px;
}

input[type="text"]{
  padding: 5px;
  border-radius: 5px;
  width : 350px;
  font-size:22px;
  border: none;
  outline:none;
}
input[type="text"]:focus{
  box-shadow: 0px 0px 5px darkred;
  transition: all.3s;

}
input[type="alamat"]{
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline:none;
}
input[type="alamat"]:focus{
  box-shadow: 0px 0px 5px darkred;
  transition: all.3s;

}

input[type="password"]{
  padding: 5px;
  border-radius: 5px;
  width : 350px;
  font-size:22px;
  border: none;
  outline:none;
}
input[type="password"]:focus{
  box-shadow: 0px 0px 5px darkred;
  transition: all.3s;
}

input[type="submit"]{
  padding: 5px;
  border-radius: 5px;
  width : 120px;
  font-size:12px;
  color:grey;
  border: none;
  outline:none;

}
input[type="submit"]:focus{
  box-shadow: 0px 0px 5px darkred;
  transition: all.3s;
}

@media (max-width:1000px){
  .header_login{
    margin-top: 10px;
    width: 80%;
  }

  .body_login{
    margin-top: 10px;
    width: 80%;
  }
  .footer_login{
    margin-top: 10px;
    width: 80%;
  }
}
